<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Author page</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="#" th:action="@{/demo/add}" th:object = "${admin}" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" th:field = "*{name}" class="form-control" placeholder="Есімін енгіз" />

                <label for="baga">Baga</label>
                <input type="text" id="baga" name="baga" th:field = "*{baga}" class="form-control" placeholder="Багасын енгіз"/>

                <br/>
                <button type="submit" class="btn btn-primary">Сақтау</button>

            </form>
        </div>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>