<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Тізімдер</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>

<body>

<div class="container">
    <div class="row">
        <br/>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>baga</th>
            </tr>
            <tr th:each = "client : ${clients}">
                <td th:text = "${client.name}">test</td>
                <td th:text = "${client.baga}">test</td>
            </tr>
        </table>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>

</body>
</html>